.alert-light {
    color: #636464;
    background-color: #fefefe;
    border-color: #3c3c8f;
    font-size: 18px;
    text-align: center;
    height: 67px;
    overflow: hidden;
    resize: none;
}

.issue-text {
    overflow: hidden;
    resize: none;
}

.button_new_issue {
    padding-top: 20px;
    text-align: right;
}
.table td {
    text-align: center;
    font-size: 18px;
}
.table th {
    text-align: center;
    font-size: 22px;
}
.buttons_new_issue {
    text-align: right;
}
.select_name{
    cursor: pointer;
    color: #6c757d;
    border-color: #6c757d;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s
}