.rooms-top-container {
  margin-bottom: 150px;
}

.rooms-top-container > div {
  background-size: cover;
  height: 250px;
}

.list-group-item span {
  font-size: 15px;
}

.card {
  width: 600px;
  float: none;
  margin: 0 auto 40px;
}

.btn-group {
  flex-direction: column;
}

.card-footer-button .btn {
  float: right;
  position: absolute;
  margin: 18px;
}

.card-text {
  font-size: 16px;
}

.card_footer,
.btn-group {
  display: flex;
}

.back {
  margin: 20px;
}

.clear-filters-button {
  margin-top: 20px;
  color: grey;
  width: 150px;
}

.pagination {
  text-align: center;
  width: 275px;
  margin: 0 auto 20px;
}

