// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.rooms-top-container {
  margin-bottom: 150px;
}

.list-group-item span {
  font-size: 15px;
}

.card {
  width: 600px;
  float: none;
  margin: 0 auto 40px;
}

.btn-group {
  display: flex;
  flex-direction: column;
}

.card-footer-button .btn {
  float: right;
  position: absolute;
  margin: 18px;
}

.card-text {
  font-size: 16px;
}

.card_footer {
  display: flex;
}

.back {
  margin: 20px;
}
.tbl {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
dialog {
  height: 100px;
  width: 600px;
  border: 1px solid;
  overflow: auto;
  position: absolute;
  //left: 100px;
  //top: 500px;
}
#close {
  margin-top: -10px;
  float: right;
}
.buttons_alignment div{
  display: inline-block;
}
#er {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  height: 70px;
  width: 500px;

}