<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>You got a new order!</p>
<p>
  Order details<br>
  --------------------------
</p>
<p>Check-in: <%= @order.check_in %></p>
</body>
</html>