<%- if controller_name != 'sessions' %>
  <a><%= t("users.shared._links.already_have_an_account") %></a>
  <%= link_to t("users.sessions.new.log_in"), new_user_session_path %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <a><%= t("users.shared._links.dont_have_an_account") %></a>
  <%= link_to t("users.sessions.new.sign_up"), new_user_registration_path %><br />
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
<!--  <%#= link_to "Forgot your password?", new_user_password_path %><br />-->
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
<!--  <%#= link_to "Didn't receive confirmation instructions?", new_user_confirmation_path %><br />-->
<% end %>

<%#- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
<!--  <%#= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />-->
<%# end %>

<%#- if devise_mapping.omniauthable? %>
  <%#- resource_class.omniauth_providers.each do |provider| %>
<!--    <%#= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), method: :post %><br />-->
  <%# end %>
<%# end %>
