// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form-group label{
  font-size: 20px;
}
.table th{
  font-size: 22px;
}

.table td{
  font-size: 18px;
}
//#error_explanation ul li {
//  font-size: 13px;
//  list-style: square;
//}