// Place all the styles related to the issues_manager controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.stop-icon{
  text-align: right;
  width: 20px;
  height: 20px;
}
.pagination-issues {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
a {
  text-decoration: none !important;
}