// Place all the styles related to the issues_manager controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.stop-icon{
  text-align: right;
  width: 20px;
  height: 20px;
}
.pagination-issues {
  width: 140px;
  margin: 31px auto 20px;
  font-size: 16px;
}
a {
  text-decoration: none !important;
}