
.btn:link {
  text-decoration: none;

}
.btn:visited {
  color: white;
}
.btn:hover {
  background-color: inherit;
}
h1 {
  text-align: center;
}
input[type="text"] {
  width: 600px;
  height: 50px;
  border-radius: 3px;
}
.tbl {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
textarea {
  width: 600px;
  height: 100px;
  border-radius: 3px;

}
input[type="submit"] {
  width: 115px;
  height: 35px;
}
td {
  font-size: 15px;
}
.display-4 {
  margin-top: 20px;
}
.tbl-2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

}
#er {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  height: 70px;
  width: 500px;

}
ul {
  list-style: none;

}
.tbl-3 td {
  border: 1px solid black;
}
.buttons_alignment div {
  display: inline-block;

}
.table-hover {
  font-size: 25px;
}
.tbl-2 img {
   width: 50px;
}
.card-title img {
  width: 50px;
}
::placeholder {
 padding-left: 10px;
  padding-top: 10px;
}
.lang.active {
  color: blue;
}
.lang:link {
  text-decoration: none;
  color: black;
}
.lang:hover {
  background-color: inherit;
}
a:hover {
  background-color: inherit;
}
