<h1>Editing Category Description</h1>

<%= render 'form', category: @category %>

<!--<%#= link_to 'Show', @category %> |-->
<%= link_to categories_path do %>
  <%= image_tag('back.svg', size: "30x30", alt: "Back") %>
<% end %>
