<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<%= link_to t('global.forms.edit_button'), edit_category_path(@category) %> |
<%= link_to t('global.forms.back_button'), categories_path %>
