# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SoftServe\ch-122.ruby\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
